<h1><%= t(:new_book)%></h1>
<%= form_tag( {:action => 'create'}, :multipart => true ) do %>
    <%= render :partial => 'form' %>
    <%= submit_tag t(:create_it) , :class => 'buttons'  %>
<% end %>
<%= link_to t(:back_it), :action => 'index' %>