<div class= "Sign_Form">
  <h1> <%= t(:sign_up)%> </h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>

      <p>
        <%= t(:user_name)%> </br> <%= f.text_field :username%>
      </p>

      <p>
        <%= t(:email)%> </br> <%= f.text_field :email%>
      </p>

      <p>
        <%= t(:password)%> </br> <%= f.password_field :password%>
      </p>

      <p>
        <%= t(:password_conf)%> </br> <%= f.password_field :password_confirmation%>
      </p>

      <%= f.submit t(:sign_up), :class => 'buttons' %>
  <% end %>

  <% if @user.errors.any? %>
      <ul class="Signup_Errors">
        <% for message_error in @user.errors.full_messages %>
            <li>* <%= message_error %></li>
        <% end %>
      </ul>
  <% end %>
</div>