<table>
  <tr>
    <th><%= t(:name) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.name %></td>
        <td><%= link_to t(:show_it), :action => 'show', :id => publisher %></td>
        <td><%= link_to t(:edit_it), :action => 'edit', :id => publisher %></td>
        <td><%= button_to t(:destroy_it), {:action => 'destroy', :id => publisher},
                          {:method => :delete, data: { confirm: t(:are_you_shure_delete)} , :class => 'buttons'} %></td>
      </tr>
  <% end %>
</table>
<br />

<%= link_to t(:new_publisher), new_admin_publisher_path %>
