<dl>
  <dt><%= t(:first_name)%></dt>
  <dd><%= @author.first_name %></dd>
  <dt><%= t(:last_name)%></dt>
  <dd><%= @author.last_name %></dd>
</dl>
<p>
  <%= link_to t(:edit_it), :action => 'edit', :id => @author %> |
  <%= link_to t(:back_it), :action => 'index' %>
</p>